name: build-from-source

on: [push]

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    runs-on: windows-latest
    # strategy:
    #   matrix:
    #     python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v5

    - shell: cmd
      run: |
        .\setup.cmd

    - shell: cmd
      run: |
        .\local-build.cmd
    
  # build/bootloader/bootloader.bin

    - working-directory: build
      shell: cmd
      run: |
        dir /S
