name: Build

on: [push]

jobs:
  build:
    runs-on: windows-latest
    # strategy:
    #   matrix:
    #     python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v5

    - shell: cmd
      run: |
        .\setup.cmd

    - shell: cmd
      run: |
        .\local-build.cmd
    
  # build/bootloader/bootloader.bin

    - working-directory: build
      shell: cmd
      run: |
        dir /S