name: build-from-source

on: [push]

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        esp-idf-version: [ "v5.5.1", "v5.5", "v5.4", "v5.3", "v4.4.7", "v4.2.4", "v3.3.6" ]
    steps:
    - uses: actions/checkout@v5

    - shell: cmd
      run: |
        .\setup.cmd ${{ matrix.esp-idf-version }}

    - shell: cmd
      run: |
        .\local-build.cmd
        
    - working-directory: build
      shell: cmd
      run: |
        dir /S
        
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        directory: 'build'
        filename: "${{ github.event.repository.name }}-${{ github.ref_name }}-esp-idf-${{ matrix.esp-idf-version }}.zip"
        
    - name: Release prebuilt
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/${{ github.event.repository.name }}-${{ github.ref_name }}-esp-idf-${{ matrix.esp-idf-version }}.zip"
        allowUpdates: true
        token: ${{ secrets.GITHUB_TOKEN }}
