name: Build

on: [push]

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     python-version: ["3.8", "3.9", "3.10"]
    steps:
    - uses: actions/checkout@v4
    
    # - name: Set up Python ${{ matrix.python-version }}
    #   uses: actions/setup-python@v3
    #   with:
    #     python-version: ${{ matrix.python-version }}
        
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install idf-build-apps
        
    # - name: Analysing the code with pylint
    #   run: |
    #     idf-build-apps build -p $(pwd) --target esp32

    - name: Checkout repo
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

  # this action by default runs "idf.py build"
    - name: esp-idf build
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: v4.4
        target: esp32s2

    - run: |
        ls -R
